.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 88px;
    height: 115px;
    background-color: #fff;
    border-radius: 10px;

    .f {
        color: ;
    }

    .s {

    }

}